@import "tailwindcss";

@font-face {
  font-family: "Bazzi";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Nexon/Bazzi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Bazzi", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
}
